{% extends "base.html" %}
<!--{% load staticfiles %}-->

{% block title %}Your Achievement{% endblock %}

{% block content %}

<h3>
total: {{ result_clear_all_rate }} %<br>
</h3>

<br>

<h3>category:</h3>
<h4>
{% for categoryname, achievement_rate in result_category_achievementrate %}
    {{ categoryname }}: {{ achievement_rate }}%<br>
{% endfor %}
</h4>

<br><br>

<h1>Ranking</h1>

<h4>
{% for username, total_score in sorted_all_username_total_score %}
    {{ forloop.counter }}, {{ username }}, {{ total_score }}pt<br>
{% endfor %}
</h4>

{% endblock %}