{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<a href="{% url 'general:register' %}">新規登録</a><br>
<br>
<form action="{% url 'general:login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }} {{ field }}<br>
    {% endfor %}
    <br>
    <button type="submit">login</button>
</form>

<ul>
    {% if user and not user.is_anonymous %}
        <li>
            <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
            <a href="{% url 'auth:logout' %}?next={% url 'general:index' %}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'social:begin' 'twitter' %}?next={% url 'general:top' %}">Login with Twitter</a>
        </li>
    {% endif %}
</ul>

{% endblock %}