{% extends "base.html" %}
{% load staticfiles %}

{% block title %}#{{ question.id }} {{ question.title}}{% endblock %}

{% block content %}

<h3>{{ question.text }}</h3>

<br><br>

{% if question.image %}
    <img src="{{ question.image.url }}" width="300">
<br><br>
{% endif %}

<br>

reference:<br>


<br><br>

{% if clear_flag %}
Cleared!!<br>

<br>

<form action="{% url 'general:question' question.id %}" method="post">
    {% csrf_token %}
    もう一度やる =>
    <button type="submit" name="add_remove_action" value="2">Retry</button>
</form>

{% else %}

<form action="{% url 'general:question' question.id %}" method="post">
    {% csrf_token %}
    <button type="submit" name="add_remove_action" value="1">Clear!</button>
</form>

{% endif %}

<br><br>

ClearUser:<br>
{% if question.clear_user.all %}
{% for clear_user in question.clear_user.all %}
    <li>{{ clear_user.username }}</li>
{% endfor %}
{% else %}

{% endif %}

{% endblock %}