{% extends "base.html" %}

{% block title %}Question Title List{% endblock %}

{% block content %}

numbersort<br>
categorysort<br>

<br><br>

{% for question in question_list %}
    #{{ question.id }}: <a href="{% url 'general:question' question.id %}">{{ question.title }}</a>
    {{ question.point }}pt
    ({{ question.category.name }})<br>
{% endfor %}

<br><br>

{% for category_name, question_list in zipped_category_question_list %}
    category = {{ category_name }}<br>
    {% for question in question_list %}
        #{{question.id}}:
        <a href="{% url 'general:question' question.id %}">{{ question.title }}</a>

        {{ question.point }}pt

        <!--クリアユーザがいる場合-->
        {% if question.clear_user.all %}({% endif %}
        {% for clear_user in question.clear_user.all %}
            {{ clear_user }}
        {% endfor %}
        {% if question.clear_user.all %}){% endif %}
        <br>
    {% endfor %}
    <br>
{% endfor %}

<br><br>

{% endblock %}
